<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/chantrix/Desktop/University/Bachelor/Politic and Global Studies 06/PGS-1/Semester-1/2402308_DEV INTL SYS/Class Sum In Progress</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>BinderUUID</key>
			<string>BB360289-7F77-4AF1-A155-43057C51131A</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>584</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>722 473 584 541 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>ToCIndent</key>
	<real>36</real>
	<key>ToCRightMargin</key>
	<real>451</real>
	<key>ToCUsePageWidth</key>
	<true/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {241, 1354}}</string>
		<string>{{242, 0}, {1475, 1354}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0778B444-3F1F-4924-83BA-B2AB7028AC3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0EB16FF9-6C9D-4FA9-B47D-F8902B6AD165</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1431C4B8-1149-404F-9116-6FADD0FE67FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1683FD58-C07E-4BEB-B581-8C6615016A45</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1858A8F8-BF64-40C0-9890-18759377DEDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D193AC1-5A02-4030-BB32-75A3919681BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E556CAB-8332-4F20-9099-B70943D01F2A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1FCACC5E-78AC-4EF8-944C-5DDD50D5650E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35F9F5B4-E4BA-4530-8791-BEEB7D179A06</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B9F88E1-B687-47F2-95B6-7F720C175547</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F43045B-8140-42CA-9BCF-708DE62D5F93</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42010292-FA11-46B5-8B06-4655B39D68FE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42A20734-348D-4C08-A46E-6E9613A86716</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46A9664D-7FC8-4F05-9E4C-B0B0B72F1BA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>48D59A2C-AD2C-4CE4-A627-420CC42A6012</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>495102F4-CF0D-44FA-8117-869F0C52DA2D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>606E2F6A-318D-44EA-A9BC-81093A72CD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60D37027-5A0F-4CA1-BA8F-0F527FC7BB6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6245E147-8DC2-4006-BA9D-FC0B40BF7FEE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63089251-C46A-4AB2-8020-53228DE7C1D7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66C7F882-B4AF-496D-B388-9C513A590903</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6888FCAC-5BD6-4149-9AE5-035F7E13EB6E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7167A96B-0E28-4E78-83FF-3954AFF1964B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7549ED70-FDD4-4A71-A9B4-F89A022A6B24</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>950422AF-7F51-4FC1-A36E-415B3E3A754D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A097A466-32FF-491F-8E6B-6DCD12185DE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AF6F2715-AA21-40A6-8C9D-DBCF7ECE102F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0417A1B-D617-4CBD-900A-14A6AB12C289</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B747A691-C440-45B7-A10A-4A30F92E2203</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7A30882-3FB4-4238-8ADD-CEA4F46DB3CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9EFBC0E-AA6D-48CB-AFEB-34C77E021A03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB360289-7F77-4AF1-A155-43057C51131A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BBE633EF-235A-4272-BD34-DFB66AAD2392</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC0DC62B-D666-419C-A37C-870C3C678050</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCF5AF16-0893-40AA-90C9-164B4C931AD0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C09B5090-3706-443B-85E3-CEE8EE1FA9EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3469E6D-FCC1-4632-AF4D-2A6D99BD0545</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3A96864-6A69-40B9-8063-A2EC44BB8CCB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C4B052CE-BF94-435D-93F2-086CA452BDD5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5C89DB7-5404-4109-8CF7-355D76BE0DAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB0EEE35-84F6-4D12-9A81-6827BED783B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE782D4E-CC57-48AA-A252-05358A9FD8EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D01A1CAE-F062-45E7-B690-9B340A75E5B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D103D645-FC61-442F-AAF8-DF49E66DA94D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D139E2B3-5A6F-477E-A5C4-CA863B06BFCE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D37E11EB-D46F-4393-8BC6-F57C090A0D02</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA18BF45-9A79-4E05-96F3-9AAECAE646D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF057A35-C856-4907-B361-4A17F458273F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF5CB5B8-F2F9-4739-AACF-2F0A927A5215</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4E08195-CB6C-40A5-9D50-F01F80AA57FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E62EDCE9-A101-43B0-9DE0-58C4CD03665B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA769BC2-8FD4-4BA8-B50D-028604BCE56A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EDB2924B-B1FC-4A0C-9903-C40719D6402D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EDE99FE3-7226-451F-B453-529D39F24DCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF91168A-D8A0-4BD6-BEA5-643662A32559</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2E6C4BB-2F20-439E-B426-E7493F47DA64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC5A740C-9654-4BD3-BCB8-F16A12219AA4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF6B0494-139F-45E6-A551-2B9B9F5D081F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {632, 301}}</string>
		<string>{{0, 311}, {632, 302}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1216, 1324}}</string>
		<string>{{1217, 0}, {258, 1324}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>258</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-291, 0}, {1201, 1268}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>1648 33 1717 1382 0 0 3440 1415 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
